{% load static %}

<!-- info section -->
 <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h4>
              Contact
            </h4>
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/telephone-symbol-button.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  +91 6281767262
                </h6>
              </div>
            </div>
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/email.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  twinkleroy7225@gmail.com
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_menu">
            <h4>
              Menu
            </h4>
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}"> About </a>
              </li>
              {% comment %} <li class="nav-item">
                <a class="nav-link" href="{% url 'medicine' %}"> Medicine </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href=""> Online Buy </a>
              </li>{% endcomment %}
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info_news">
            <h4>
              newsletter
            </h4>
            <form action="">
              <input type="text" placeholder="Enter Your email">
              <div class="d-flex justify-content-center justify-content-end mt-3">
                <button>
                  Subscribe
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end info section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy;  All Rights Reserved. Design by
      <a href="mailto:twinkleroy7225@gmail">twinkleroy7225@gmail.com</a>
    </p>
  </section>
  <!-- footer section -->