{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Drug Prediction</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700|Roboto:400,700&display=swap" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  
  <style>
    
        input, select {
            width: 500px;
            padding: 8px;
            margin: 5px 0;
        }

        .text-shadow {
            text-shadow: 2px 2px 4px rgba(46, 46, 46, 0.5);
        }

        .text-shadow-w {
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
        }
       
        .result {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }
        .shadow {
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8) !important;
        }
        .shadow-r {
          box-shadow: 0 0.5rem 1rem rgba(255, 0, 0, 0.8) !important;
        }
        .shadow-g {
          box-shadow: 0 0.5rem 1rem rgba(0, 255, 0, 0.8) !important;
        }
        .shadow-b {
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 255, 0.8) !important;
        }
        .shadow-primary {
          box-shadow: 0 0.5rem 1rem rgba(0, 123, 255, 0.8) !important;
        }
        .shadow-lg {
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
        }
        .shadow-xl {
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25) !important;
        }
        .bg-light-s {
          background-color: #ffffff !important;
          box-shadow: 0 2rem 4rem rgb(0, 54, 37) !important;

        }

  </style>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section starts -->
    <header class="header_section">
      <div class="container">{% comment %}
        <div class="top_contact-container">
          <div class="tel_container">
            <a href="tel:+011234567890">
              <img src="{% static 'images/telephone-symbol-button.png' %}" alt=""> Call : +01 1234567890
            </a>
          </div>
          <div class="social-container">
            <a href="">
              <img src="{% static 'images/fb.png' %}" alt="" class="s-1">
            </a>
            <a href="">
              <img src="{% static 'images/twitter.png' %}" alt="" class="s-2">
            </a>
            <a href="">
              <img src="{% static 'images/instagram.png' %}" alt="" class="s-3">
            </a>
          </div>
        </div>{% endcomment %}
      </div>
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3 navbar-dark">
          <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/logo.png' %}" alt="">
            <span>Drug</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex flex-column flex-lg-row align-items-center w-100 justify-content-between">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="{% url 'udashboard' %}" class="nav-item nav-link active">User Dashboard</a>
                    <a href="{% url 'prediction' %}" class="nav-item nav-link">Prediction</a>
                    <a href="#" class="nav-item nav-link">Medication</a>
                    <a href="{% url 'index' %}" class="nav-item nav-link">Logout</a>
                  </div>
                </li>
              </ul>
              <form class="form-inline">
                <input type="search" placeholder="Search" class="form-control">
                <button class="btn my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
              <div class="login_btn-container ml-0 ml-lg-5">
                <a href="">
                  <img src="{% static 'images/user.png' %}" alt="">
                  <span>Login</span>
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <div class="container-fluid py-4">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-12 ">
                <div class="bg-light-s rounded-top">
                  <div class="bg-dark rounded-top text-white ">
                    <h2 class="p-4 text-center text-shadow ">Drug Effectiveness Prediction</h2>
                  </div>
                  <div class="p-3 pl-5 pr-5 pb-5">
                      <form method="POST">
                          {% csrf_token %}
                        <div class="row form">
                          <div class="col-lg-6">
                          <div class="mb-3">
                            <label for="Age" class="form-label">Age:</label>
                            <input class="form-control" type="number" name="Age" value="38" placeholder="Enter Age of a Patient" required/>
                          </div>
                          <div class="mb-3">
                            <label>Gender:</label>
                            <select class="form-control" name="Gender">
                                <option value="Male" selected>Male</option>
                                <option value="Female">Female</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label>Medical History:</label>
                            <select class="form-control" name="Medical_History">
                                <option value="Diabetes" selected>Diabetes</option>
                                <option value="Hypertension">Hypertension</option>
                                <option value="Cancer">Cancer</option>
                                <option value="None">None</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label>Drug Name:</label>
                            <select class="form-control" name="Drug_Name">
                              <option value="DrugA" selected>Drug A</option>
                              <option value="DrugB">Drug B</option>
                              <option value="DrugC">Drug C</option>
                              <option value="DrugD">Drug D</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label>Dosage (mg):</label>
                            <input class="form-control" type="number" name="Dosage_mg" value="2" placeholder="Enter Dosage" required>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="mb-3">
                            <label>Treatment Duration (days):</label>
                            <input class="form-control" type="number" name="Treatment_Duration_days" value="30" placeholder="Enter treatment duration (in days)" required>
                          </div>
                          <div class="mb-3">
                            <label>Effectiveness (%):</label>
                            <input class="form-control" type="number" step="0.1" name="Effectiveness_%" value="90" placeholder="Enter effectiveness (in percentage)" required>
                          </div>
                          <div class="mb-3">
                            <label>Side Effects:</label>
                            <select  class="form-control" name="Side_Effects">
                                <option value="None">None</option>
                                <option value="Nausea">Nausea</option>
                                <option value="Dizziness" selected>Dizziness</option>
                                <option value="Fatigue">Fatigue</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label>Disease Type:</label>
                            <select  class="form-control" name="Disease_Type">
                                <option value="Lung Cancer">Lung Cancer</option>
                                <option value="Breast Cancer">Breast Cancer</option>
                                <option value="Diabetes" selected>Diabetes</option>
                                <option value="Heart Disease">Heart Disease</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label>Genetic Marker:</label>
                            <select class="form-control" name="Genetic_Marker">
                                <option value="MarkerA" selected>Marker A</option>
                                <option value="MarkerB">Marker B</option>
                                <option value="MarkerC">Marker C</option>
                                <option value="MarkerD">Marker D</option>
                            </select>
                          </div>
                        </div>
                          <div class="col-lg-12 ">
                            <button type="submit" class="btn btn-danger btn-block shadow-r">Predict</button>
                          </div>
                        
                        </div>
                      </form>
                      {% if prediction_text %}
                          <div class="result">
                              <p class="text-shadow">{{ prediction_text }}</p>
                          </div>

                          <a href="{% url 'medication' %}" class="btn btn-primary shadow-primary btn-block">View Medications</a>
                        
                      {% endif %}
                  </div>
                </div>
                
              </div>
          </div>
      </div>
    </div>
                      
                    
                    


    {% comment %} <!-- footer section -->
    <section class="container-fluid footer_section mt-5">
      <p>
        &copy; 2024 All Rights Reserved. Design by
        <a href="mailto:rgtech.projects@gmail.com">rgtech.projects@gmail.com</a>
      </p>
    </section>
    <!-- footer section --> {% endcomment %}

    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script type="text/javascript">
      $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        navText: [],
        autoplay: true,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 2
          },
          1000: {
            items: 4
          }
        }
      });
    </script>
</body>

</html>
