{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug</title>
    <link href="{% static 'css/styles1.css' %}" rel="stylesheet" />
</head>
<body id="top">
    <div class="main-container"> 
        <header>
            <div class="container right">
                
                <div class="col-auto">
                    <nav>
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#medicine">Medicine</a></li>
                            <li><a href="{% url 'adminlogin' %}">Admin</a></li>
                            <li><a href="{% url 'userlogin' %}">User</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li>
                                <form action="" method="get">
                                    <input class="input-container" type="text" id="search" name="search" placeholder="search">
                                </form>
                            </li>
                            <li><a href="#"><span><img src="{% static 'images/menu.png' %}"/></span></a></li>
                        </ul>
                    </nav>
                </div>
                
            </div>
            <div id="logo-div">
                <div class="p-2 logo-p">
                    <a href="{% url 'index' %}" class="Btn">
                        <span class="svgContainer">
                            <h1 class="logo">Drug</h1>
                        </span>
                        <span class="BG"></span>
                    </a>
                </div>
            </div>
            <div class="container mt-4" id="hero">
                
                <div class="col-10 p-4 dpsw">
                    <h3 class="">User Registration</h3> 
                    {% if messages %}
                      <div class="alert alert-danger mb-2" >
                          {% for message in messages %}
                              {% if forloop.last %}
                                  
                                      {{ message }}
                                  
                              {% endif %}
                          {% endfor %}
                      </div>
                    {% endif %} 
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row form">
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Full Name" required />
                                </div>
                                <div class="form-group mb-4">
                                    <input type="text" class="form-control" name="mobile" placeholder="Mobile Number" required />
                                </div>
                                <div class="form-group mb-4">
                                    <input type="email" class="form-control" name="email" placeholder="Email" required />
                                </div>
                                <div class="form-group mb-4">
                                    <input type="password" class="form-control" name="password" placeholder="Password" required />
                                </div>
                                <div class="form-group mb-4">
                                    <input type="number" class="form-control" name="age" placeholder="Age" required />
                                </div>
                                <div class="form-group mb-4">
                                    <input type="text" class="form-control" name="address" placeholder="Address" required />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-4">
                                    <img id="imgPlaceholder" alt="Image Preview" src="{% static 'images/profpic.jpg' %}" width="100%" />
                                    <label for="profile_picture">Upload Profile Picture</label>
                                    <input id="imageInput" type="file" accept="image/*" class="form-control" name="profile_picture" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary shadow-primary btn-block">Register</button>
                        </div>
                        <div class="text-center mt-3">
                            <p class="mt-4">Already have an account? <a href="{% url 'userlogin' %}">Login</a></p>
                        </div>
                    </form>
                </div>
                
            </div>
        </header>
    
        <footer>
        <p>
            © 2025 All Rights Reserved. Design by
            <a href="mailto:twinkleroy7225@gmail" style="text-decoration: none;">twinkleroy7225@gmail.com</a>
        </p>
        </footer>
        <a id="backToTopBtn" href="#top" title="Go to top"><img src="{% static 'images/top-arrow-blue.png' %}" width="12px" height="12px"/> </a>
    </div>
</body>
</html>
