{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug</title>
    <link href="{% static 'css/styles1.css' %}" rel="stylesheet" />
</head>
<body id="top">
    <div class="main-container"> 
    <header>
        <div id="menu-div" class="container right">
            <div class="col-auto">
                <nav>
                    <ul>
                        <li><a href="{% url 'udashboard' %}">User Dashboard</a></li>
                        <li><a href="{% url 'prediction' %}">Prediction</a></li>
                        <li><a href="{% url 'index' %}">Logout</a></li>
                        <li>
                            <form action="" method="get">
                                <input class="input-container" type="text" id="search" name="search" placeholder="search">
                            </form>
                        </li>
                        <li><a href="#" class="menu-icon"><span><img src="{% static 'images/menu.png' %}" width="30px" height="30px"/></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="logo-div">
            <div class="p-2 logo-p">
                <a href="/" class="Btn">
                    <span class="svgContainer">
                        <h1 class="logo">Drug</h1>
                    </span>
                    <span class="BG"></span>
                </a>
            </div>
        </div>
        <div class="container" id="hero">
            <div>
                <h3 class="dd">
                    Welcome To Our           
                </h3>
                <h1 >Drug Discovery <br>And Personailzed Medicine</h1>
                <p class="djs"> Welcome to the Drug Discovery and Personalized Medicine dashboard, where Machine Learning (ML) is leveraged to revolutionize healthcare. This platform integrates Deep Learning, Reinforcement Learning, and Supervised Learning to accelerate drug discovery and enhance personalized treatments. CNNs analyze chemical structures for drug identification, Q-learning optimizes drug development, and predictive models tailor treatments to individual patient data. Users can track real-time ML model performance, analyze results, and collaborate on research updates. The dashboard provides access to key features like experimental evaluations, data visualizations, and ongoing developments in AI-driven clinical trials. Stay ahead with ML-powered insights in drug discovery!
                </p>
            </div>
        </div>
    </header>
 
    <footer>
      <p>
        © 2025 All Rights Reserved. Design by
        <a href="mailto:twinkleroy7225@gmail" style="text-decoration: none;">twinkleroy7225@gmail.com</a>
      </p>
    </footer>
    <a id="backToTopBtn" href="#top" title="Go to top"></a>
</div>
    <script type="text/javascript">
    document.querySelector('.dropbtn').addEventListener('click', function() {
        document.querySelector('.dropdown-content').classList.toggle('show');
    });
    </script>
</body>
</html>
