{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug</title>
    <link href="{% static 'css/styles1.css' %}" rel="stylesheet" />
</head>
<body id="top">
    <div class="main-container"> 
        <header>
            <div class="container right">
                
                <div class="col-auto">
                    <nav>
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <!-- <li><a href="#about">About</a></li>
                            <li><a href="#medicine">Medicine</a></li>
                            <li><a href="{% url 'adminlogin' %}">Admin</a></li>
                            <li><a href="{% url 'userlogin' %}">User</a></li>
                            <li><a href="#contact">Contact</a></li> -->
                            <li>
                                <form action="" method="get">
                                    <input class="input-container" type="text" id="search" name="search" placeholder="search">
                                </form>
                            </li>
                            <li><a href="#"><span><img src="{% static 'images/menu.png' %}"/></span></a></li>
                        </ul>
                    </nav>
                </div>
                
            </div>
            <div id="logo-div">
                <div class="p-2 logo-p">
                    <a href="{% url 'index' %}" class="Btn">
                        <span class="svgContainer">
                            <h1 class="logo">Drug</h1>
                        </span>
                        <span class="BG"></span>
                    </a>
                </div>
            </div>
            <div class="container mt-4" id="hero">
                <div class="col-4"></div>
                <div class="col-4 p-3 dpsw">
                    <h3 class="">User Login</h3> 
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email" class="form-label">Email Address</label>
                            <input type="email" class="input-container" id="email" name="email" placeholder="Enter your email" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="input-container" id="password" name="password" placeholder="Enter your password" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary shadow-primary btn-block">Login</button>
                        </div>
                        <div class="text-center mt-3">
                            <a href="#" >Forgot Password?</a>
                        </div>
                        <div>
                            <p class="mt-4">Don't have an account? <a href="{% url 'userregister' %}" >Register here</a></p>
                        </div>
                    </form>
                </div>
                <div class="col-4"></div>
            </div>
        </header>
    
        <footer>
        <p>
            © 2025 All Rights Reserved. Design by
            <a href="mailto:twinkleroy7225@gmail" style="text-decoration: none;">twinkleroy7225@gmail.com</a>
        </p>
        </footer>
        <a id="backToTopBtn" href="#top" title="Go to top"><img src="{% static 'images/top-arrow-blue.png' %}" width="12px" height="12px"/> </a>
    </div>
</body>
</html>
